.main-footer {
    background-color: #cfcfcf;
    color: #1c1c1c;
    padding-top: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', serif;
    margin-top: 1rem;
}

.footer-container {

    margin: 0 auto;
    padding: 0 2rem;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-bottom: 2rem;
}

.footer-column h4 {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.footer-column p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
.footer-list {
    list-style: none;
    font-size: 0.8rem;
}

.footer-list li {
    margin-bottom: 0.5rem;
}

.footer-list li a {
    color: #1c1c1c;
    text-decoration: none;
}

.footer-list li a:hover {
    text-decoration: underline;
}